{% extends 'base.html' %}
{% load static %}

{% block title%}Register{% endblock %}

{% block content %}

<div class="container">
{% if request.user.is_registered %}

	<div class="card-body mx-auto my-auto">
    <h5 class="card-title text-center">Thank you for registering</h5>
    <div class="card-title text-center"><a href="{% url 'home' %}">Return to home page</a></div>      
  	</div>
{% else %}
	<div class="form_register">
	{% include 'userform.html' %}
	</div>
{% endif %}
</div>
{% endblock %}
