{% extends 'base.html' %}
{% load static %}
{% block style %}
.container{
  margin-top:120px;
}
.form_register{
  padding-top:10px;
  padding-bottom:20px;
  margin: auto;
  margin-top:60px;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
}
.heading{
  margin: auto;
  width: 50%;
  padding: 40px;
}
.subheading{
  margin:10px auto;
  width: 50%;


}
{% endblock %}

{% block content %}
<div class="container">
{% if registered %}
<h2>Thank you for registering.</h2>
<div class="sub-heading">
  <a href={% url 'home' %}>Return to the home page</a>
</div>
{% else %}
<div class="form_register">
  <center><h2>Register</h2></center>
  {% include 'userform.html' %}
</div>
{% endif %}
</div>
{% endblock %}
